.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("login.svg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.header{
    font-size: 32px;
}
.modal{
    font-weight: 500;
    width: 560px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding:30px 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}
.formContainer{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.formContainer > Link{
    color: var(--primary-fontcolor);
}

.formContainer > label , .modal > span{
    color: #8C8C8C;
}

.link{
    color:var(--primary-fontcolor);
    
}

.formContainer>div{
    position: relative;
}

.formContainer > div >input{
    width: 100%;
    padding: 20px 50px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 16px;
}



.formContainer > button{
    padding: 20px 48px;
    border-radius: 10px;
    background-color: var(--primary-fontcolor);
    color:white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
}

.formContainer > p{
    text-align: center;
}

.formContainer > button[type="reset"]{
    background: #C6B09A;
}